.chameleon-body {
  background-color: #f0fdf4;
}

.chameleon-header {
  background-color: oklch(64.8% 0.2 131.684);
  color: white;
}

@media (prefers-color-scheme: dark) {
  .chameleon-body {
    background-color: #052e16; /* dark green tone opposite of #f0fdf4 */
  }

  .chameleon-header {
    background-color: oklch(35% 0.2 131.684); /* darker variant of the green */
    color: white;
  }
}

.code {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre;
  font-family: monospace;
  background: #f5f5f5;
  color: #222;
  padding: 12px;
  border-radius: 4px;
}

.code-wrap {
  overflow-x: auto;
  white-space: inherit;
}


@media (prefers-color-scheme: dark) {
  .code {
    background: #222;
    color: #f5f5f5;
  }
}